@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Bootstrap icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


// Colors
$cl-primary: #007EA8;
$cl-secondary : #128C7E;
$cl-tertiary: #d7e1ec;

$cl-default-text: #121212;

// Default values
$mg-default: 5px;
$pd-default: 5px;
$br-default: 5px; // default border radius

// Typography
  
  $fz-small-text: 0.8rem;
  

// Media queries
@mixin mobile-only {
    @media screen and (max-width: 449px) {
      @content;
    }
  }
  
  @mixin medium-up {
    @media screen and (min-width: 450px) {
      @content;
    }
  }
  
  @mixin medium-only {
    @media screen and (min-width: 450px) and (max-width: 1199px) {
      @content;
    }
  }
  
  @mixin desktop-up {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
  
// Mixins
@mixin shadow{
    box-shadow: 5px 5px 20px rgba(black,0.3);
}

@mixin btn-outline {
    border: 2px solid $cl-primary;
    background-color: #E7E7E7;
    color: $cl-primary;    
}

@mixin btn-full{
    display: inline-block;
    margin: $mg-default 2px;
    padding: 5px;
    border-radius: $br-default;
    border: 2px solid $cl-primary;
    background-color: $cl-primary;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}


* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.card-box {
  @include medium-up(){
      width: 80%;
  }
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.message {
    color: $cl-default-text;
  &-content-wrapper {
    background-color: #eee;
  }
}

.action-infos-left {
}

.white {
  background-color: #fff;
}

.message-header{
    padding: $pd-default;
}

.actions_parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: $pd-default;
    border-radius: $br-default;
    border: 1px solid $cl-tertiary;
    // @include shadow();
}

.btn-icon {
    font-size: $fz-small-text;
    @include medium-up(){
        flex: 1 24%;
    }
    @include mobile-only{
        flex: 1 48%;
    }    
    @include btn-full();
}


.action-state{
  
    // Font Awesome Icon injection
    &::after{
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        white-space: pre;    
    }
}

.state-read{
    @include btn-outline();
    &::after{
        content: "  \f2b6"; // Message read icon
    }
}
.state-unread{
    &::after{
        content: "  \f0e0"; // Message unread icon
    }
}

.state-done{
    @include btn-outline();
    &::after{
        content: "  \f058"; // Task check icon
    }
}

.state-undone{
    &::after{
        content: "  \f254"; // Task hourglass icon
    }
}

.make_answer{
 
    form{
        margin: $mg-default 0;
        text-align: center;
    }
    textarea.wide{
        outline: none;
        padding: 8px;
        border-radius: $br-default;
        border: 1px solid $cl-tertiary;
        resize: none;
        overflow: auto;
        height: 10ch;
        width: 100%;
    }
    input[type="submit"] {
        @include btn-full();
    }
}

.message-content-header{
    color: gray;
    font-size: $fz-small-text;
    span{
        // margin: $mg-default;
        vertical-align: middle;
    };
    .date {
        display: inline-block;
        color: $cl-primary;
        @include mobile-only{
            font-size: 0.7rem;
        }    
        &.right {
            width: 100%;
            text-align: right;
            padding-right: $pd-default*2;
        }    
    }
}


.message-child, .message-parent{
    margin: $mg-default;
}

.message-child .message-content-wrapper{
    background-color: rgba($cl-tertiary, 0.5);;
    font-size: $fz-small-text;
    margin-left: $mg-default*4;
    border-left: 5px solid darken($cl-tertiary, 10);
    &::before{
        content: "\f4ad"; // f3e5 e3d6 f4ad(comment)
        font-size: 1.1rem;
        color: darken($cl-tertiary, 10);
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        margin-left: -1.5rem;
        transform: scale(-1,1);
    }
}

.message-content-wrapper{
    background-color: rgba($cl-primary, 0.2);
    border-radius: $br-default*2;
    margin: $mg-default;
}


.message-content{
    display: inline-block;
    text-align: center;
    padding: 1rem;
}

.message_img{
    object-fit: contain;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 1px solid white;
    @include shadow();
}